{% extends 'base.html' %}


{% block content %}
<p class="text-3xl text-center">Event Booking Page</p>


<div class="flex justify-center w-full ">
    <div class=" flex justify-center w-1/2">
        <div class="flex flex-col w-full gap-2">
            <div class="text-right ">


            </div>

            <div class="flex flex-col bg-cyan-50 p-4 ">
                
                    
                    <p class="pb-3">You already booked the event, <span class="text-red-500">{{ event.name }}</span>? </p>
                    
                    <div class="flex">

                    <p class="px-3 py-1  text-center bg-gray-400 text-gray-800 border rounded hover:text-gray-100 hover:bg-blue-400 w-20 "><a href="{% url 'view_event' event.id %}" class="text-center"> Okay </a></p>
                </div>
                
            </div>




        </div>
    </div>
</div>


{% endblock %}