


<nav class="bg-white border-gray-200 ">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8  md:mt-0 md:border-0 md:bg-white ">
            <li>
                <a href="{% url 'home' %}" class="block py-2 px-3 text-black bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"  aria-current="page">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'booked_event' %}" class="block py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Booked Event</a>
            </li>
            <li>
              <a href="{% url 'category' %}" class="block py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Category</a>
            </li>
            {% endif  %}
          </ul>
      <div class="w-full md:block md:w-auto">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
            
          <form class="d-flex" method="get" action="{% url 'home' %}">
            <input
              class="border rounded px-3"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="search"
            />
            <button class="px-3 bg-gray-400 text-gray-800 border rounded hover:text-gray-100 hover:bg-blue-400 w-20 " type="submit">
              Search
            </button>
          </form>

            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'profile_update' %}" class="block py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Profile </a>
            </li>
            <li>
                <a href="{% url 'logout' %}" class="block py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Logout </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}" class="block py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Login </a>
            </li>
            <li>
                <a href="{% url 'register' %}" class="block py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Register </a>
            </li>
            {% endif  %}
          
          
        </ul>
      </div>
    </div>
  </nav>
  