{% extends 'base.html' %}


{% block content %}
<div class="text-3xl text-center class my-6">Login Form !</div>
<div class="flex justify-center w-full ">
      <div class=" flex justify-center w-1/3">


            <form method="post" class="grid gap-3 w-full p-4 bg-blue-100">
                  {% csrf_token %}
                  <!-- {{ form.as_p }} -->
                  {{ form.non_field_errors }}
                  <div>
                        {{form.username.label_tag}}
                        {{form.username}}
                        {{form.username.errors}}
                  </div>
                  <div>
                        {{form.password.label_tag}}
                        {{form.password}}
                        {{form.password.errors}}
                  </div>
                  <button type="submit"
                        class="px-3 py-1 bg-gray-400 text-gray-800 border rounded hover:text-gray-100 hover:bg-blue-400 w-20 ">Login</button>

                  <p class="text-center">If you new!<a href="{% url 'register' %}"
                              class="text-blue-400 hover:text-blue-600"> Register </a> Now</p>
            </form>

      </div>
</div>


{% endblock %}